In [25]:
import pandas as pd

In [26]:
data = pd.read_csv('.\\Data\\Ecommerce_Customers.csv')

In [27]:
data

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [28]:
import numpy as np
df_nulls = data.apply(lambda x: x.sample(frac=0.01))
df_nulls

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,423.179992
30,NaN,NaN,NaN,33.241900,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,3.649286,NaN
39,NaN,"1958 Robert Bridge Apt. 250\nMalloryland, ID 0...",NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,18372 Matthew Fork Suite 705\nNorth Matthewmou...,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,GreenYellow,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,GreenYellow,NaN,NaN,NaN,NaN,NaN
79,kimberlyfrederick@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,hyoung@jones.info,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,11.010482,NaN,NaN,NaN
146,NaN,NaN,NaN,NaN,NaN,37.232003,NaN,NaN
157,NaN,NaN,Wheat,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,357.591439
174,brenda25@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,NaN,38.576516,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,35.674256,NaN,537.773163
209,wagnerbrian@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.056663
227,NaN,NaN,NaN,31.948017,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,32.922611,NaN,NaN,NaN,NaN
242,NaN,NaN,LightSkyBlue,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN,NaN,NaN,2.412831,NaN
246,NaN,NaN,NaN,NaN,11.347264,NaN,NaN,NaN
250,NaN,NaN,NaN,32.672944,NaN,NaN,NaN,NaN
252,NaN,NaN,NaN,NaN,NaN,NaN,2.313350,NaN
292,NaN,"4029 Gerald Cape\nSouth Laurenborough, SC 1913...",NaN,NaN,NaN,NaN,NaN,NaN
293,NaN,NaN,NaN,NaN,10.982806,NaN,NaN,NaN
318,charlesgutierrez@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,NaN,NaN,NaN,32.762456,NaN,NaN,NaN,NaN
326,NaN,NaN,NaN,NaN,NaN,38.442767,NaN,NaN
347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,593.156401
369,NaN,NaN,NaN,NaN,NaN,NaN,5.047023,NaN
376,NaN,NaN,NaN,NaN,NaN,NaN,3.506968,NaN
411,NaN,NaN,NaN,NaN,13.004362,NaN,NaN,NaN
412,NaN,"86268 Davis Corner\nNorth Danielview, CT 59551...",NaN,NaN,NaN,NaN,NaN,NaN
472,NaN,NaN,Orange,NaN,12.263718,NaN,NaN,NaN
475,NaN,NaN,NaN,NaN,NaN,36.298893,NaN,NaN
499,NaN,49791 Rachel Heights Apt. 898\nEast Drewboroug...,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
rows = df_nulls.index
cols = np.where(df_nulls.notnull())[1]
rows

Int64Index([ 25,  30,  35,  39,  42,  55,  78,  79,  86, 112, 146, 157, 161,
            174, 176, 178, 209, 215, 227, 240, 242, 245, 246, 250, 252, 292,
            293, 318, 323, 326, 347, 369, 376, 411, 412, 472, 475, 499],
           dtype='int64')

In [30]:
original = {f"{data.columns[c]}{r}": data.iloc[r, c] for r, c in zip(rows, cols)}

In [31]:
replaced = {k: float("nan") for k in original}

In [32]:
for r, c in zip(rows, cols):
    print(str(r)+","+str(c))
    data.iloc[r, c] = float("nan")

25,7
30,3
35,6
39,1
42,1
55,2
78,2
79,0
86,0
112,4
146,5
157,2
161,7
174,0
176,5
178,5
209,7
215,0
227,7
240,3
242,3
245,2
246,6
250,4
252,3
292,6
293,1
318,4
323,0
326,3
347,5
369,7
376,6
411,6
412,4
472,1
475,2
499,4

In [37]:
data.iloc[412]

Email                                                  ellenlucas@cox.org
Address                 86268 Davis Corner\nNorth Danielview, CT 59551...
Avatar                                                      DarkGoldenRod
Avg. Session Length                                             33.863189
Time on App                                                           NaN
Time on Website                                                 35.938045
Length of Membership                                             3.013033
Yearly Amount Spent                                            444.053827
Name: 412, dtype: object

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 495 non-null    object
 1   Address               496 non-null    object
 2   Avatar                495 non-null    object
 3   Avg. Session Length   495 non-null    float64
 4   Time on App           495 non-null    float64
 5   Time on Website       496 non-null    float64
 6   Length of Membership  495 non-null    float64
 7   Yearly Amount Spent   495 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [11]:
data['Address']

0           835 Frank Tunnel\nWrightmouth, MI 82180-9605
1         4547 Archer Common\nDiazchester, CA 06566-8576
2      24645 Valerie Unions Suite 582\nCobbborough, D...
3       1414 David Throughway\nPort Jason, OH 22070-1220
4      14023 Rodriguez Passage\nPort Jacobville, PR 3...
                             ...
495    4483 Jones Motorway Suite 872\nLake Jamiefurt,...
496    172 Owen Divide Suite 497\nWest Richard, CA 19320
497    0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...
498    680 Jennifer Lodge Apt. 808\nBrendachester, TX...
499    49791 Rachel Heights Apt. 898\nEast Drewboroug...
Name: Address, Length: 500, dtype: object

In [32]:
data.to_csv('.\\Data\\Ecommerce_Customers.csv',index=False)